html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, 'Segoe UI';
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    margin-left: 260px;
}

.header {
    grid-column: 1 / 2;
    background-color: #ffffff;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 3px 10px #c7cdd4;
    z-index: 1;
}

.upper-header {
    display: grid;
    grid-template-columns: 20px 1fr 20px 50px 120px; 
    align-items: center;
    justify-items: center;
    gap: 15px;
}

.upper-header .icon {
    height: 20px;
    width: 20px;
}

#searchbar {
    justify-self: start;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    background-color: #e2e8f0;
}

#searchbar:focus {
    border: 2px solid #ccc;
}

.upper-header .user-icon {
    height: 45px;
    width: 45px;
}

.upper-header .user-name {
    justify-self: start;
    font-weight: bold;
    color: #000000;
}

.lower-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
    row-gap: 5px;
    padding: 15px 20px 0px 0px;
}

.lower-header .user-icon {
    height: 70px;
    width: 70px;
    grid-row: 1 / 3;
}

.lower-header .greeting {
    grid-row: 1 / 2;
    align-self: end;
    font-size: 13px;
    font-weight: bold;
}

.lower-header .greeting-name {
    grid-row: 2 / 3;
    align-self: start;
    font-weight: bold;
    font-size: 20px;
}

.lower-header .button {
    grid-row: 1 / 3;
    background-color: #944654;
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    justify-self: center;
    color: rgb(244, 244, 244);
    font-weight: bold;
    transition: all .1s ease-in-out; 
}

.bell {
    transition: all .02s ease-in-out; 
}

.bell:hover {
    transform: scale(1.1); 
}

.button:hover {
    cursor: pointer;
    transform: scale(1.02); 
}

.card-icons svg:hover {
    transform: scale(1.1, 1.1);
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #944654;
    padding: 30px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2; 
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sidebar > .title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo svg {
    width: 40px;
    height: 40px; 
    fill: rgb(244, 244, 244);
}

.title > .dashboard {
    font-size: 25px;
    font-weight: bold;
    color: rgb(244, 244, 244);
}

.menu-icon svg {
    width: 20px;
    height: 20px;
    fill: rgb(244, 244, 244);
}

.sidebar a {
    color: rgb(244, 244, 244);
}

.menu {
    margin: 50px 0px;
}

.menu-item a {
    display: flex;
    gap: 20px;
    margin: 15px 0px;
    font-size: 18px;    
}

.menu-item a:hover{
    text-decoration: underline;
}

.main-content {
    background-color:#e2e8f0;
    min-height: 100%;
    overflow-y: auto;
}

.main-content-container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto 325px auto 260px;
    padding: 30px 20px;
}

.main-content-container > .title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.your-projects {
    grid-row: 1;
    grid-column: 1 / 3;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.announcements-card {
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
    margin-bottom: 30px;
}

.announcements-card > .item1, .item2 {
    border-bottom: 1px #c0c5cc solid;
    padding: 15px 0px;
}

.announcements-card > .item3 {
    padding: 15px 0px;
}

.announcements-title {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 3px;
}

.announcements-info {
    font-size: 13px;
    color: #707070;
}

.announcements-card a {
    color: #707070;
}

.trending {
    grid-column: 2;
    grid-row: 3 / 4;
}

.trending-card {
    grid-column: 2;
    grid-row: 4 / 5;
    background-color: #ffffff;
    padding: 15px 30px 15px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
}

.trending-card .user-icon {
    height: 45px;
    width: 45px;
}

.trending-card .trending-icon {
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    padding-right: 15px;
}

.trending-card .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    font-size: 13px;
    padding: 5px 0px;
}

.trending-card a {
    color: #000000;
}

.trending-card .trending-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
}

.trending-card .trending-info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: #707070;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding-right: 30px;
}

.project-cards > .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.1);
    margin-bottom: 30px;
    border-left: 8px solid rgb(221, 158, 0);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.project-cards .card-title {
    font-size: 15px;
    font-weight: bold;
}

.project-cards .card-info {
    font-size: 14px;
    color: #707070;
}

.project-cards svg {
    width: 20px;
    height: 20px; 
}

.project-cards .card-icons {
    justify-self: end;
    display: grid;
    gap: 10px;
    padding-top: 10px;
    grid-template-columns: auto auto auto;
}
